<settings>
    <servers>
        <server>
            <id>github</id>
            <username>${env.MAVEN_USERNAME}</username>
            <password>${env.MAVEN_PAT}</password>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>Authorization</name>
                        <value>Bearer ${env.MAVEN_PAT}</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/gaureshgawasmn/gg-maven-central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>
</settings>
